name: CI e CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: impactahumbertofilho/api-escolar

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v5

      # Etapa necessaria pelo fato de usarmos o "GitHub Container Registry", o build 
      # precisa estar configurado para usar o buildx
      - name: Set up Docker Buildx # Configura o buildx para construir imagens Docker
        uses: docker/setup-buildx-action@v2 # Usa a acao oficial do Docker para configurar o buildx
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }} # usando a variavel de ambiente REGISTRY -> ghcr.io
          username: ${{ github.actor }} # usando o usuario do github que esta rodando a acao
          password: ${{ secrets.GITHUB_TOKEN }} # usando o token do github para autenticar
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
